# JetBrains
.idea/

#phpDocumentor
.phpdoc/

#log
log/*
!log/phpunit/.gitkeep

#sesije
sesije/*
!sesije/.gitkeep

#temp
temp/*
!temp/.gitkeep

#vendor
vendor/*
!vendor/.gitkeep

#predmemorija
predmemorija/phpunit/*
!predmemorija/phpunit/.gitkeep

#aplikacija
aplikacija/*
!aplikacija/.gitkeep